
  <head>
 <title>{% block title %}Welcome!{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	 <link rel="stylesheet" href="{{ asset('css/style4.css') }}">
    
     {% block stylesheets %}
		 <link rel="stylesheet" href="{{ asset('css/style4.css') }}">
        {% endblock %}
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" >Home</a>
	          
	          </li>
	          <li>
	              <a  href="{{ path('listeterrain',{'id':idres}) }}" class="nav-link">liste terrain</a>
	          </li>
	         
	        </ul>


	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
              
                <li class="nav-item">
                 <a class="nav-link" href="{{ path('homepage') }}">deconxion</a>
                </li>
              
              </ul>
            </div>
          </div>
        </nav>
{% block body %}
<p> Liste des demandes </p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Numero reservation</th>
      <th scope="col">date </th>
      <th scope="col">heure debut </th>
      <th scope="col">heure fin </th>
      <th scope="col">demande </th>
      <th scope="col">demande </th>
    </tr>
  </thead>
  <tbody>
  {% for i in lst %}
{% for j in i %}



    <tr>
      <th scope="row">{{j.getNumresv()}}</th>
      <td>{{j.getDateresv() | date('m/d/Y') }}</td>
      <td>{{j.getHeuerdeb() | date('h:i') }}</td>
      <td>{{j.getHeuerfin() | date('h:i') }}</td>
      <td><button type="bt" class="btn-success"><a  href="{{ path('accepte', {'idr': j.getNumresv(),'k':idres }) }}" color='black'>{{j.getStatue() }}</a></button></td>
      <td><button type="bt" class="btn-success"><a  href="{{ path('annuler', {'idr': j.getNumresv(),'k':idres }) }}" color='black'>annuler</a></button></td>
      
    </tr>
   {% endfor %}
{% endfor %}
  </tbody>
</table>

        {% endblock %}
      </div>
		</div>
<script src="{{asset('js/jquery.min.js')}}"></script>
 
  <script src="{{asset('js/popper.min.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
 

  <script src="{{asset('js/main.js')}}"></script>



  </body>
